<div class="item">
    <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" alt="apple">
    <div>
        <div class="button add">
            <p>add</p>
        </div>
        <h3>Apple</h3>
        <div class="button remove">
            <p>remove</p>
        </div>
    </div>
</div>