{{#each groceries}}

<div class="item">
    <div class="image">
        <img class="food-image" src="{{image}}" alt="apple" class="image">
        <div id="price">
            ${{price}}
        </div>
    </div>

    <div class="interaction-container">
        <div class="button add">
            <p>Add</p>
        </div>

        <h3>{{name}}</h3>

        <div class="button remove">
            <p>Remove</p>
        </div>
    </div>

    <div class="description">
        {{description}}
    </div>
</div>

{{/each}}