<div class="page">
    <div class="nav">
        {{>nav}}
    </div>

    <div class="item">
        <div class="image">
            <img src="{{image}}" alt="apple" class="image">
            {{price}}
        </div>

        <div class="interaction-container">
            <div class="button add">
                <p>Add</p>
            </div>

            <h3>{{name}}</h3>

            <div class="button remove">
                <p>Remove</p>
            </div>
        </div>

        <div class="description">
            {{description}}
        </div>
    </div>

    <div class="footer">
        {{>footer}}
    </div>
</div>