<nav>
    <div onclick="goBack()" class="arrow arrow-left"></div>
    <h1>Shopping list with a twist</h1>
    <a href="/checkout"><img src="/images/icons8-ice-cream-96.png" alt="Cart" class="cart"></a>
</nav>