<nav>
    <img src="https://image.flaticon.com/icons/png/512/53/53567.png" alt="back-button">
    <h1>Shopping list with a twist</h1>
    <img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="back-button">
</nav>