{{>nav}}

<p id="cart-title">CHECKOUT</p>


<div id="headers">
    <p>ITEM</p>
    <p>PRICE</p>
    <p>QUANTITY</p>
</div>
<div id="list">
    {{#each basket}}
    {{! need name price ect}}
    <div class="grocery-item">

        <div class="grocery-items">
            <p><img src="{{image}}" class="cart-images">{{name}}</p>
            
        </div>

        <div class="grocery-items">
            <p>{{price}}</p>
        </div>

        <div class="grocery-items">
            <p>{{quantity}} units</p>
        </div>
    </div>
    {{/each}}
    <p id="total-cost">
        
    </p>
</div>

<button id="button">PURCHASE</button>