{{>nav}}

<p id="cart-title">CHECKOUT</p>

<div id="list">
    {{#each groceries}}
    {{! need name price ect}}
    <div class="grocery-item">
        <div id="items">
            <p><img src="{{image}}" class="cart-images"> {{name}}</p>
            
        </div>

        <div class="grocery-item">
            <p>{{price}}</p>
        </div>

        <div class="grocery-item">
            <p>{{quantity}}</p>
        </div>
    </div>
    {{/each}}
    <p id="total-cost">
        
    </p>
</div>

<button>PURCHASE</button>