{{>nav}}

<p id="cart-title">CHECKOUT</p>

<div id="list">
    {{#each basket}}
    {{! need name price ect}}
    <div class="grocery-item">
        <div id="items">
            <p><img src="{{image}}" class="cart-images"> {{name}}</p>

        </div>

        <div id="items">
            <p class="cart-header">ITEM</p>
        </div>

        <div class="grocery-item">
            <p class="cart-header">PRICE</p>

            <p class="price"> {{price}}</p>

        </div>

        <div class="grocery-item">
            <p class="cart-header">QUANTITY</p>
            <p class="quantity"> {{quantity}}</p>
        </div>
        {{/each}}
       
    <p id="total-cost"></p>
    <p id="total-quantity"></p>
</div>

<button>PURCHASE</button>