{{>nav}}

<p id="cart-title">CHECKOUT</p>


<div id="headers">
    <p>ITEM</p>
    <p>PRICE</p>
    <p>QUANTITY</p>
</div>

<div id="list">
    {{#each basket}}
    <div class="grocery-item">
        <div id="items">
            <img src="{{image}}" class="cart-images"> 
            <p>{{name}}</p>
        </div>

        <div class="grocery-item">
            <p class="price"> {{price}}</p>
        </div>

        <div class="grocery-item">
            <p class="quantity"> {{quantity}}</p>
        </div>
        {{/each}}
       
    <p id="total-cost"></p>
    <p id="total-quantity"></p>
</div>

<button id="button">PURCHASE</button>