<nav>
    <div class="arrow arrow-left hide"></div>
    <h1>Shopping list with a twist</h1>
    <img src="/images/icons8-ice-cream-96.png" alt="Cart" class="cart">
</nav>
<div class="item-container">
    {{>item}}
</div>