#list{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid lightgray; */
    padding: 10px;
    /* float: left; */
}

#cart-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.cart-images{
    width: 50px;
    border-radius: 10px;
}

/* #list{
    border: 1px solid black;
} */

.grocery-item {
    display: flex;
    justify-content: space-around;
}

.grocery-item div {
    width: 30%;
}

#items{
    border: 1px solid black;
    padding: 10px;
    margin:10px;
}

#cart-price{
    border: 1px solid black;
    padding: 10px;
    margin:10px;
}

#quantity{
    border: 1px solid black;
    padding: 10px;
    margin:10px;

}
/* #cart-price{
    border-bottom: 1px solid black;
}

#quantity{
    border-bottom: 1px solid black;
}

.cart-header{
    border-bottom: 1px solid black;
    font-weight: 23px;
} */