#list{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

#cart-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5%;
}

.cart-images{
    width: 50px;
    border-radius: 10px;
}

.grocery-item {
    display: flex;
    justify-content: space-around;
}

#headers{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px
}

.grocery-item div {
    width: 30%;
}

.grocery-items{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

#button{
    width: 5%;
    margin-left: 47%;
}
