body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    height: 100%;
}

small {
    display: block;
}

/* Nav */
nav {
    height: 4rem;
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-135deg);
    cursor: pointer;
}

.cart {
    height: 30px;
    cursor: pointer;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
}

.item{
    width: 30%;
    margin:1.66%;
    background-color: lightgray;
    padding: 10px;
    float: left;
    align-items:center;
}

.food-image{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.image{
    position:relative;
}
#price{
    position: absolute;
    bottom: 20px;
    left: 20px;
}