<div class="container">
    <nav>
        <img src="https://image.flaticon.com/icons/png/512/53/53567.png" alt="back-button">
        <h1>Shopping list with a twist</h1>
        <img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="back-button">
    </nav>

    <div class="item-container">
        <div class="item">
            <img src="https://i5.walmartimages.ca/images/Enlarge/094/514/6000200094514.jpg" alt="apple">
            <div>
                <div class="button add">
                    <p>add</p>
                </div>
                <h3>Apple</h3>
                <div class="button remove">
                    <p>remove</p>
                </div>
            </div>
        </div>
    </div>
</div>